.fz-15 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: var(--font-size-basic);
  font-weight: 300;
}
.fz-18 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: calc(var(--font-size-basic)*1.2);
  font-weight: 400;
}
.fz-24 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: calc(var(--font-size-basic)*1.5);
  font-weight: 500;
}
.fz-36 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: calc(var(--font-size-basic)*2.4);
  font-weight: 300;
}